[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty=/opt/consul/consul.d/server.json

[Service]
Type=simple
#Type=forking
User=consul
Group=consul
ExecStart=/usr/local/bin/consul agent -config-dir=/opt/consul/consul.d/
ExecReload=/usr/local/bin/consul reload
KillMode=process
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
